@{
    ViewData["Section"] = "Posts";
    ViewData["Subsection"] = "List";
}
@model List<neobooru.ViewModels.ArtThumbnailViewModel>

<div id="search-section">
    <form method="get" action="/Posts/List" id="searchForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn" onclick="toggleSearchOptions()" style="background: #1dd1a1; color: white;">
                    <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas"
                         data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                         data-fa-i2svg="">
                        <path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path>
                    </svg> Toggle Search Options
                </button>
            </div>
            <input type="text" class="form-control" id="tagStringInput" placeholder="Ex: blue_sky cloud 1girl" name="tagString" aria-label="Art tags" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn" style="background: #218c74; color: white;">Search</button>
            </div>
        </div>
    </form>
</div>

<div id="art-container">
    @{ int length = Model.Count; }
    @{ int left = length; }
    @for (var i = 0; i < length;)
    {
        <div class="row mt-3">
            @{ int bound = left > 5 ? 5 : left; }
            @for (var a = 0; a < bound; a++)
            {
                <div class="col-sm">
                    @* <a href="/posts/post/fd246dbf-1df0-439c-b7bb-5dfd854fdf47"> *@
                    <a href="@Url.Content("/posts/post?postId=" + Model[i].ArtId)">
                        <div class="card">
                            <img src="@Url.Content(Model[i].FileUrl)" class="card-img-top"/>
                            <div class="card-footer">
                                <h5 class="card-title">@Model[i].ArtName</h5>
                                <p class="card-text">Made by @Model[i].ArtistName<br/>Uploaded: @Model[i].UploadDate.ToString()</p>
                            </div>
                        </div>
                    </a>
                </div>
                i++;
                left--;
                @if (left == 0 && a < 4)
                {
                    @for (var b = 0; b + a < 5; b++)
                    {
                        <div class="col-sm"></div>
                    }
                }
            }
        </div>
    }
</div>

<nav class="mt-5">
    <ul class="pagination justify-content-center">
        @if (!ViewBag.PreviousPage.Equals(""))
        {
            int prevPageLinkNum = Int32.Parse(ViewBag.PreviousPage) - 1;
            <li class="page-item">
                <a class="page-link" href="@Url.Content("/posts/list?page=" + prevPageLinkNum + "&tagString=" + ViewBag.TagString)" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link custom-notactive-page" href="@Url.Content("/posts/list?page=" + prevPageLinkNum + "&tagString=" + ViewBag.TagString)">@ViewBag.PreviousPage</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        <li class="page-item active">
            <a class="page-link custom-active-page" href="#">@ViewBag.Page <span class="sr-only">(current)</span></a>
        </li>
        @if (!ViewBag.NextPage.Equals(""))
        {
            int nextPageLinkNum = Int32.Parse(ViewBag.NextPage) - 1;
            <li class="page-item">
                <a class="page-link custom-notactive-page"
                   href="@Url.Content("/posts/list?page=" + nextPageLinkNum + "&tagString=" + ViewBag.TagString)">@ViewBag.NextPage</a></li>
            <li class="page-item">
                <a class="page-link custom-notactive-page"
                   href="@Url.Content("/posts/list?page=" + nextPageLinkNum + "&tagString=" + ViewBag.TagString)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
    </ul>
</nav>

<script>
    function populateInput() {
        var url = new URL(document.URL);
        var tagString = "";
        tagString = tagString + url.searchParams.get("tagString");

        var sortBy = url.searchParams.get("sortBy");
        var orderBy = url.searchParams.get("orderBy");
        if (sortBy != null && orderBy != null) {
            if (tagString === "")
                tagString += orderBy + ":" + sortBy;
            else
                tagString += " " + orderBy + ":" + sortBy;
        }
            

        if (tagString === "" || tagString === "null")
            return;
        document.getElementById("tagStringInput").value = tagString;
    }
    document.getElementsByTagName("body")[0].onload = populateInput();

    
    @* Search options toggle *@
    let hidden = true;
    
    function toggleSearchOptions() {
        let htmlContent = `<div class="border rounded row" id="searchOptions">
                            <div class="form-group col-sm-6 mt-1">
                                <label>Sort by</label>
                                <select class="form-control" name="sortBy">
                                    <option value="name">Name</option>
                                    <option value="date">Date</option>
                                    <option value="artist">Artist</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 mt-1">
                                <label>Order by</label>
                                <select class="form-control" name="orderBy">
                                    <option value="orderby">Ascending</option>
                                    <option value="orderbydesc">Descending</option>
                                </select>
                            </div>
                           </div>`;
        let searchForm = document.getElementById("searchForm");
        if (hidden) {
            searchForm.innerHTML = searchForm.innerHTML + htmlContent;
            hidden = false;
        } else {
            document.getElementById("searchOptions").remove();
            hidden = true;
        }
    }
</script>
