@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@(ViewData["Section"]) - @(ViewData["Subsection"]) | Neobooru</title>

    @* Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Fontawesome *@
    <script defer src="~/lib/fontawesome-free-5.12.1-web/js/all.js"></script>
    <link href="~/lib/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet" />
    @* jQuery mCustomScrollbar *@
    <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.css" />
    @* Neobooru main layout style *@
    <link rel="stylesheet" href="~/css/main-style.css">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Neobooru</h3>
            </div>

            <ul class="list-unstyled components">
                <li @(ViewData["Section"].Equals("Posts") ? "class=active" : "")><a href="/posts/list">Posts</a></li>
                <li @(ViewData["Section"].Equals("Artists") ? "class=active" : "")><a href="/artists/list">Artists</a></li>
                <li @(ViewData["Section"].Equals("Pools") ? "class=active" : "")><a href="/pools/List">Pools</a></li>
                @if (signInManager.IsSignedIn(User))
                {
                    <li @(ViewData["Section"].Equals("Profile") ? "class=active" : "")><a asp-controller="Profile" asp-action="Profile">Profile</a></li>
                }
                @* If the user has admin rights: *@
                <li @(ViewData["Section"].Equals("Administration Panel") ? "class=active" : "")><a asp-controller="AdministrationPanel" asp-action="MainPanel">Administration Panel</a></li>
                <li @(ViewData["Section"].Equals("Forum") ? "class=active" : "")><a href="#">Forum</a></li>
                <li @(ViewData["Section"].Equals("Store") ? "class=active" : "")><a href="#">Store</a></li>
                <li @(ViewData["Section"].Equals("Help") ? "class=active" : "")><a href="#">Help</a></li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Support our project!</a>
                </li>
            </ul>

            @if (signInManager.IsSignedIn(User))
            {
                <div id="sidebar-footer" style="position: fixed; bottom:1%; margin: auto;">
                    <div class="row ml-2">
                        <i>Logged in as:</i>
                    </div>
                    <div class="row ml-2">
                        <a asp-controller="Profile" asp-action="Profile" style="border-bottom: 1px dotted white;">@User.Identity.Name</a>
                    </div>
                    <div class="row mt-3 ml-2">
                        <form method="post" asp-action="Logout" asp-controller="Profile">
                            <button type="submit" class="btn btn-light text-white" style="background-color: #218c74; border: 1px solid #218c74;">
                                Log Out
                            </button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div id="sidebar-footer" class="row" style="position: fixed; bottom: 1%; margin: auto;">
                    <div class="col-sm-6">
                        <a asp-action="Registration" asp-controller="Profile" class="btn btn-light text-white" style="background-color: #218c74; border: 1px solid #218c74;">Register</a>
                    </div>
                    <div class="col-sm-6">
                        <a asp-action="Login" asp-controller="Profile" class="btn btn-light text-white px-4" style="background-color: #218c74; border: 1px solid #218c74;">Login</a>
                    </div>
                </div>
            }
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn sidebar-btn">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            @{
                                var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                            }
                            @foreach (string item in ViewBag.SubsectionPages)
                            {
                                @if (item.Equals(ViewBag.ActiveSubpage))
                                {
                                    <li class="active nav-item">
                                        <a class="nav-link" asp-controller="@controllerName"
                                           asp-action="@item.Replace(" ", "")">@item</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="@controllerName"
                                           asp-action="@item.Replace(" ", "")">@item</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>

    @* jQuery *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @* PopperJS *@
    <script src="https://unpkg.com/@@popperjs/core@@2"></script>
    @* Bootstrap *@
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* jQuery mCustomScrollbar *@
    <script src="~/lib/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>
</html>
